@use "./../_partials/devices";

.hero {
    background-color: blue;
    color: white;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding: 60px 100px;

    @include devices.small {
        align-items: center;
        padding: 0;
    }

    @include devices.medium {
        align-items: center;
    }

    &__text {
        background-color: white;
        color: blue;
        margin-top: auto;
        padding: 20px 80px;

        &--header {
            text-align: center;
            font-size: 60px;

            @include devices.small {
                font-size: 30px;
            }

            @include devices.medium {
                font-size: 30px;
            }
        }

        &--subheader {
            text-align: right;
            font-size: 30px;

            @include devices.small {
                font-size: 15px;
            }

            @include devices.medium {
                font-size: 15px;
            }
        }
    }

    &__scroll {
        background-color: blue;
        padding: 10px;
        font-weight: bolder;
        font-size: 40px;
        color: white;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
}
