@use "./../_partials/devices";

.projects {
    background-color: blue;
    color: white;
    padding: 60px 150px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__header {
        text-align: center;
        margin-bottom: 50px;
        font-size: 40px;

        @include devices.small {
            font-size: 30px;
        }
    }

    &__cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &--card {
            min-height: 400px;
            width: 300px;
            margin: 20px 20px;
            background-color: white;
            color: blue;
            border-radius: 20px;
            box-shadow: 10px 10px 10px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;

            & h4 {
                margin-bottom: 20px;
            }

            & img {
                margin-bottom: 20px;
            }

            & p {
                margin-bottom: 20px;
                min-height: 150px;
            }
        }
    }

    &__button {
        text-align: center;
        width: 100%;

        &--style {
            width: 40%;
            background-color: blue;
            color: white;
            border: none;
            height: 30px;
            font-weight: bold;
            border-radius: 10px;
        }
    }
}
